<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>please alllow access to a take a picture  </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>please allow access to select a pic proflie</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb227108629556673</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>227108629556673</string>
	<key>FacebookClientToken</key>
	<string>8b73e9662db935e9d59f8841a83185f5</string>
	<key>FacebookDisplayName</key>
	<string>MyChatApp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb227108629556673</string>
		<string>fb227108629556673</string>
	</array>
</dict>
</plist>
